@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@700&family=Open+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    --main-color: #C0FAD1;
    --secondary-color: #5A6D52;
    --tertiary-color: #67D286;
    box-sizing: border-box;
}

.container {
    padding: 50px 0;
}

body {
    margin: 0px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header, .navbar {
    background-color: var(--main-color);
}

.navbar-brand {
    padding: 5px;
    color: #000;
}

.navbar-brand #navbar-logo{
    width: 150px;
}

.navbar-brand:hover {
    color: #000;
}

.navbar-nav .nav-link {
    color: #000;
}

.navbar-nav .nav-link.active {
    color: #000;
}

.nav-link:hover {
    color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 .8rem;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider img { 
    height: 90vh;
    filter: brightness(50%);
    object-fit: cover;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    color: white;
}

.carousel-indicators .active {
    background-color: var(--main-color);
}

.main-title {
    color: var(--secondary-color);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid var(--secondary-color);
    width: 15%;
    position: absolute;
    margin-top: 60px;
    left: 42.5%;
}

#about-area {
    background-color: #F9F9F9;
}

#about-area span {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: underline;
}

.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: var(--main-color);
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: var(--secondary-color);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: var(--tertiary-color);
  }
  .wrapper i:first-child{
    left: -22px;
    z-index: 1000;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carrossel{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carrossel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carrossel.dragging img{
    pointer-events: none;
  }
  .carrossel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carrossel img:first-child{
    margin-left: 0px;
  }
  
  @media screen and (max-width: 900px) {
    .carrossel img{
      width: calc(100% / 2);
    }
  }
  
  @media screen and (max-width: 550px) {
    .carrossel img{
      width: 100%;
    }
  }

  .modal-dialog {
    max-width: 100vh;
    max-height: 90vh;
  }

  .modal-dialog img{
    width: 100%;
    height: 100%;
    max-height: 65vh;
  }

  .modal-dialog .btn{
    background-color: var(--secondary-color);
    color: var(--main-color); 
  }

  .modal-dialog .btn:hover{
    background-color: var(--tertiary-color);
    color: var(--main-color); 
  }



#services-area .container {
padding-bottom: 0;
}

.service-box {
text-align: center;
margin-bottom: 50px;
padding-left: 20px;
padding-right: 20px;
}

.service-box i, .service-box h4 {
transition: .5s;
}

.service-box i {
font-size: 36px;
margin-bottom: 20px;
color: var(--secondary-color);
}

.service-box h4 {
font-size: 24px;
margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
color: var(--tertiary-color);
}

#bg-contact-title {
    background-color: var(--main-color);
    padding: 10px;
}

.contact-title {
    color: var(--secondary-color);
    font-size: 40px;
}

.contact-subtitle {
    color: var(--secondary-color);
}

#contact-content {
    background-image: url("../img/sol-mar.jpg");
}

.dates-bg {
    background-color: var(--secondary-color);
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dates-title-bg {
    background-color: var(--main-color);
    padding: 3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: var(--secondary-color);
    font-weight: bold;
}

.contact-form-bg {
    background-color: var(--secondary-color);
    height: 100%;
}

#mensagem {
    height: 100px;
}

.card-img {
    width: 250px;
    height: 346px;
}

.btn-card, .btn-card:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

#copy-area {
    background-color: var(--main-color);
    color: black;
}

  #copy-area .container {
    padding: 10px 0;
    text-align: center;
}

  #copy-area .container p {
    margin-bottom: 0;
}

  #copy-area .container a {
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
}

  #copy-area .container a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

  #logo-copy {
    margin: 15px;
    width: 180px;
}

.circle-bg-wpp {
    background-color: var(--secondary-color);
    border-radius: 50%;
    border: 1p solid var(--secondary-color);
    position:fixed;
    bottom:20px;
    right:30px;
    padding: 15px;
}

#services-area, #about-area, #location-area, #gallery-area {
    scroll-margin-top: 60px;
}

#contact-title {
    scroll-margin-top: 90px;
}

.fundo {
    width: 100vw;
    height: 100vh;
    background-image: url("background.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    width: 1000px;
    height: 500px;
}

.box-left {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #565656;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left img {
    position: relative;
    height: 450px;
}

.box-right {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #E7C002;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.background-logo {
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80px;
    width: 200px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-logo img {
    position: relative;
    width: 150px;
}

.form1 {
    margin-top: 80px;
}

.form-control, .form-select  {
    height: 50px;
    border-radius: 10px;
}

.col-12, .col-md-6, .col-md-4 {
    margin-top: 6px;
}

.form-label {
    margin-bottom: 6px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--main-color);
}

.col-12 button {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: var(--main-color);
    border: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    color: var(--secondary-color);
}

.col-12 button:hover {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: var(--main-color);
    border: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    color: var(--secondary-color);
}

@media (max-width: 500px) {
    .navbar-brand #navbar-logo{
        width: 100px;
    }

    #mainSlider .carousel-inner, #mainSlider .carousel-item {
        height: 350px;
    }

    .carousel-img {
        height: 350px;
        object-fit: cover;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    /*----------------------------------- ABOUT -----------------------------------*/
    .container {
        padding: 20px 0;
    }

    .main-title {
        font-size: 30px;
        margin-bottom: 40px ;
    }

    .main-title::after {
        margin-top: 40px;
    }

    #about-area {
        padding: 15px;
    }

    .contact-title {
        font-size: 30px;
    }

    #services-area, #about-area, #location-area, #gallery-area {
        scroll-margin-top: 40px;
    }

    #contact-title {
        scroll-margin-top: 15px;
    }
}
  