@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@700&family=Open+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    --main-color: #C0FAD1;
    --secondary-color: #5A6D52;
    --tertiary-color: #67D286;
    box-sizing: border-box;
}

.container {
    padding: 50px 0;
}

body {
    margin: 0px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header, .navbar {
    background-color: var(--main-color);
}

.navbar-brand {
    padding: 5px;
    color: #000;
}

.navbar-brand #navbar-logo{
    width: 150px;
}

.navbar-brand:hover {
    color: #000;
}

.navbar-nav .nav-link {
    color: #000;
}

.navbar-nav .nav-link.active {
    color: #000;
}

.nav-link:hover {
    color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 .8rem;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider img { 
    height: 90vh;
    filter: brightness(50%);
    object-fit: cover;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    color: white;
}

.carousel-indicators .active {
    background-color: var(--main-color);
}

.main-title {
    color: var(--secondary-color);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid var(--secondary-color);
    width: 15%;
    position: absolute;
    margin-top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: bold;
}

#about-area img {
    height: 450px;
}

#about-area .about-text {
    text-align: justify;
}

#about-area .about-text p {
    width: 450px;
}

#about-area {
    background-color: #F9F9F9;
  }

  .main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
  }

  .main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    margin-top: 60px;
    left: 42.5%;
  }

  .about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
  }

  #about-list {
    list-style: none;
    padding-left: 0;
  }

  #about-list li {
    line-height: 30px;
  }

  #about-list i {
    color: #01367d;
    margin-right: 15px;
  }

  #about-area .about-text{
    margin-top: 42px;
  }

/* ----------------------------------------- ÃREAS DE PESQUISA ----------------------------------------- */
#services-area .container {
padding-bottom: 0;
}

.service-box {
text-align: center;
margin-bottom: 50px;
padding-left: 20px;
padding-right: 20px;
}

.service-box i, .service-box h4 {
transition: .5s;
}

.service-box i {
font-size: 36px;
margin-bottom: 20px;
color: var(--secondary-color);
}

.service-box h4 {
font-size: 24px;
margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
color: var(--tertiary-color);
}

#bg-contact-title {
    background-color: var(--main-color);
    padding: 10px;
}

.contact-title {
    color: var(--secondary-color);
    font-size: 40px;
}

.contact-subtitle {
    color: var(--secondary-color);
}

#contact-card {
    background-color: white;
}

#contact-content {
    background-image: url("../img/sol-mar.jpg");
}

#contact-card i, #contact-medias i {
    color: var(--main-color);
    font-size: 60px;
    width: 60px;
}

#contact-content a {
    color: var(--main-color);
    text-decoration: none;
}

#card-text {
    margin: 0;
    color: var(--secondary-color);
}

#social-media {
    color: var(--main-color);
    font-size: 1.2rem;
}

.contact-form-bg {
    background-color: var(--secondary-color);
    height: 100%;
}

#inputMessage {
    height: 100px;
}

.card-img {
    width: 250px;
    height: 346px;
}

.btn-card, .btn-card:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

#copy-area {
    background-color: var(--main-color);
    color: black;
}

  #copy-area .container {
    padding: 10px 0;
    text-align: center;
}

  #copy-area .container p {
    margin-bottom: 0;
}

  #copy-area .container a {
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
}

  #copy-area .container a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

  #logo-copy {
    margin: 15px;
    width: 180px;
}

.circle-bg-wpp {
    background-color: var(--secondary-color);
    border-radius: 50%;
    border: 1p solid var(--secondary-color);
    position:fixed;
    bottom:20px;
    right:30px;
    padding: 15px;
}

#services-area, #about-area, #location-area {
    scroll-margin-top: 60px;
}

#contact-title {
    scroll-margin-top: 90px;
}

.fundo {
    width: 100vw;
    height: 100vh;
    background-image: url("background.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    width: 1000px;
    height: 500px;
}

.box-left {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #565656;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left img {
    position: relative;
    height: 450px;
}

.box-right {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #E7C002;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.background-logo {
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80px;
    width: 200px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-logo img {
    position: relative;
    width: 150px;
}

.form1 {
    margin-top: 80px;
}

.form-control, .form-select  {
    height: 50px;
    border-radius: 10px;
}

.col-12, .col-md-6, .col-md-4 {
    margin-top: 6px;
}

.form-label {
    margin-bottom: 6px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--main-color);
}

.col-12 button {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: var(--main-color);
    border: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    color: var(--secondary-color);
}

.col-12 button:hover {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: var(--main-color);
    border: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    color: var(--secondary-color);
}

@media(max-width: 425px) {
    .fundo {
        width: 100vw;
        height: 100vh;
        background-image: url("background.png");
        background-repeat: repeat-y;
        justify-content: center;
        align-items: center;
    }

    .box-left {
        position: relative;
        width: 375px;
        height: 500px;
        background-color: #565656;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-left img {
        position: relative;
        height: 450px;
    }
    
    .box-right {
        position: relative;
        width: 375px;
        height: 500px;
        background-color: #E7C002;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border: 0;
        padding: 300px;
        display: flex;
        justify-content: center;
    }
}